<ion-header>
  <ion-toolbar>
    <app-btn-menu slot="start"></app-btn-menu>
    <ion-title slot="start">Historial</ion-title>
    <ion-item class="ion-text-start" slot="end">
      <ion-icon color="orange" slot="start" name="search"></ion-icon>
      <ion-input  (ionChange)="onSearchChange($event)" [debounce]="400" #searchInput placeholder="Buscar" ></ion-input>
      <ion-button  [hidden]="searchInput.value == '' " (click)="searchInput.value = ''" expand="block" fill="clear" shape="round">
        <ion-icon color="orange" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-item> 
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-historial"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu  contentId="menu-historial" menuId="menu-historial" side="end" type="overlay">
  <ion-header >
    <ion-toolbar color="orange" class="ion-text-center">
      <ion-card-header>
        <ion-card-title><b>Opciones</b></ion-card-title>
      </ion-card-header>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-item-group>
      <ion-item-divider>
        <ion-label>Filtrar Busqueda</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="stacked">Buscar por</ion-label>
        <ion-icon slot="start" name="funnel"></ion-icon>
        <ion-select interface="popover" [value]="0">
          <ion-select-option [value]="0">Identificador</ion-select-option>
          <ion-select-option [value]="1">Nombre y Apellido</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item-group>

    <ion-item-group class="ion-text-center"> 
      <ion-item-divider>
        <ion-label>Seleccionar rango de busqueda </ion-label>
      </ion-item-divider>
      <ion-item >
        <ion-label position="stacked">Rango <ion-text class="ion-hide-sm-down">de Busqueda</ion-text></ion-label>
        <ion-select #dateRangeSelect [value]="0"  interface="popover">
          <ion-select-option [value]="0">Hoy</ion-select-option>
          <ion-select-option [value]="1">Ultimos 7 dias</ion-select-option>
          <ion-select-option [value]="2">Del mes</ion-select-option>
          <ion-select-option [value]="3">Ultimos 3 meses</ion-select-option>
          <ion-select-option [value]="4">Personalizado</ion-select-option>
        </ion-select>
        <ion-icon slot="start" name="list"></ion-icon>
      </ion-item>
      <section *ngIf="dateRangeSelect.value == 4">
        <ion-item>
          <ion-label position="stacked">Fecha de Inicio</ion-label>
          <ion-input  type="date" ></ion-input>
          <ion-icon slot="end" name="calendar"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de Inicio</ion-label>
          <ion-input type="date" ></ion-input>
          <ion-icon slot="end" name="calendar"></ion-icon>
        </ion-item>
        <ion-button class="ion-margin" color="orange" shape="round">
          <ion-label>Buscar</ion-label>
          <ion-icon slot="start" name="search"></ion-icon>
        </ion-button>
      </section>

    </ion-item-group>
    <ion-item-group class="ion-text-center">
      <ion-item-divider>
        <ion-label>Exportar Datos</ion-label>
      </ion-item-divider>
      <ion-item >
        <ion-label position="stacked">Exportar</ion-label>
        <ion-select #dateRangeSelect placeholder="Seleccionar"  interface="popover">
          <ion-select-option [value]="0"> PDF</ion-select-option>
          <ion-select-option [value]="1">Excel</ion-select-option>
        </ion-select>
        <ion-icon slot="start" name="document-text"></ion-icon>
      </ion-item>
      <ion-button class="ion-margin" color="orange" shape="round">
        <ion-label>Generar</ion-label>
        <ion-icon slot="start" name="download"></ion-icon>
      </ion-button>
    </ion-item-group>
  </ion-content>
</ion-menu>
<ion-router-outlet id="menu-historial"></ion-router-outlet>


<ion-content>
  
  <ion-item-group>
    <ion-item-divider style="border-bottom: 0;">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-card-header>
              <ion-card-title>Lista de Encomiendas</ion-card-title>
            </ion-card-header>
          </ion-col>
          <ion-col size="6" style="flex-direction: column; display: flex; justify-content: center; align-items: center;">
            <ion-label>Pagina {{ 1 }}</ion-label>
            <ion-buttons style="width: 100%; justify-content: space-around;">
              <ion-button >
                <ion-icon color="orange" slot="icon-only" name="chevron-back"></ion-icon>
              </ion-button>
              <ion-button >
                <ion-icon color="orange"  slot="icon-only" name="chevron-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-card-subtitle>cantidad de envios: {{productList.length}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item-divider> 
    <ng-container *ngFor="let item of productList; let i = index" >
      <ion-item-divider>
        <ion-grid>
          <ion-row>
            <ion-col style="display: flex; align-items: center;" size="6">
              <ion-icon style="margin-right: 16px;" name="cube"></ion-icon><ion-text color="orange"><b>{{ i + 1 }}</b></ion-text>
            </ion-col>
            <ion-col class="ion-text-right" size="6">
              <ion-label> <b>09/09/2022</b> </ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-divider>
        <ion-item lines="none">
          <ion-grid>
            <ion-row>
              <ion-col sizeXs="12">
                <ion-card-header class="ion-no-padding">
                  <ion-card-title style="display: flex; align-items: center;" class="ion-text-wrap"> 
                    <ion-icon class="ion-hide-sm-down" style="margin: 6px;" name="person"></ion-icon>
                    <ion-text> Jesus Augusto Guzman Martinez</ion-text>
                  </ion-card-title>
                  <ion-grid class="ion-no-padding">
                    <ion-row style="margin-top: 6px;">
                      <ion-col size="6">
                        <ion-card-subtitle style="display: flex; align-items: center; margin-left: 9px;">
                          <ion-icon style="margin-right: 6px;" name="call"></ion-icon> 
                          <ion-text> +593 99 222 3344 </ion-text>
                        </ion-card-subtitle>
                      </ion-col>
                      <ion-col size="6">
                        <ion-card-subtitle style="display: flex; align-items: center; margin-left: 9px;">
                          <ion-icon style="margin-right: 6px;" name="cube"></ion-icon> 
                          <ion-text>Transferencia</ion-text>
                        </ion-card-subtitle>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-header>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-row>
                  <ion-col size="6">
                    <ion-label>
                      <p><ion-text color="orange"><ion-icon name="flag"></ion-icon> Estado</ion-text></p>
                      <h2 [ngSwitch]="item.status">
                        <ion-text *ngSwitchCase="'aceptado'" color="success"><p>{{item.status | titlecase}}</p></ion-text>
                        <ion-text *ngSwitchCase="'entregado'" color="success"><p>{{item.status | titlecase}}</p></ion-text>
                        <ion-text *ngSwitchCase="'invalido'" color="medium"><p>{{item.status | titlecase}}</p></ion-text>
                        <ion-text *ngSwitchCase="'pendiente'" color="ligth"><p>{{item.status  | titlecase}}</p></ion-text>
                        <ion-text *ngSwitchCase="'recibido'" color="primary"><p>{{item.status | titlecase}}</p></ion-text>
                        <ion-text *ngSwitchCase="'reportado'" color="danger"><p>{{item.status | titlecase}}</p></ion-text>
                        <ion-text *ngSwitchDefault color="success"><p>Sin Estado</p></ion-text>
                      </h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label>
                      <p><ion-text color="orange"> <ion-icon name="grid"></ion-icon> Categoria</ion-text></p>
                      <h2>Maderas</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <ion-label>
                      <p><ion-text color="orange"><ion-icon name="timer"></ion-icon> Momento de Retiro</ion-text></p>
                      <h2>30 minutos</h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6">
                    <ion-label>
                      <p><ion-text color="orange"> <ion-icon name="grid"></ion-icon> Categoria</ion-text></p>
                      <h2>Maderas</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="ion-text-wrap">
                      <p><ion-icon name="pin"></ion-icon> Direccion de Entrega</p>
                      <h2>Malecón, Av. Vicente Rocafuerte Bejarano, Guayaquil 090313, Ecuador</h2>
                    </ion-label>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ng-container>
  </ion-item-group>
</ion-content>